#
# acquia/http-hmac-php project gitignore file
#
# @see https://git-scm.com/docs/gitignore
#

# Ignore build artifacts
/dist/

# Ignore Composer dependencies
/vendor/
composer.lock

# Ignore local PHPUnit configuration
/phpunit.xml
/.phpunit.result.cache

# Ignore PHP-CS-Fixer files
/.php_cs
/.php_cs.cache
/cs_fixer_tmp_*
