#
# acquia/http-hmac-php project Travis configuration
#
# @see https://docs.travis-ci.com/user/customizing-the-build/
#

language: php

php:
  - 7.2
  - 7.1
  - 7.0
  - 5.6

before_install:
  - travis_retry composer self-update
  - phpenv config-rm xdebug.ini
  - echo "memory_limit=512M" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

before_script:
  - travis_retry make install

script:
  - make test
