<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="./vendor/autoload.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="http-hmac-php">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Two direct deprecations are expected: HmacAuthenticationProvider still
         implements the legacy Symfony security AuthenticationProviderInterface.
         Baselined so that any NEW deprecation still fails the build. -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=2"/>
  </php>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
